@import "../../src/scss/esnext-slider";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: 'Fira Sans Condensed', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: black;
}

h1, h2, h3 {
  font-family: 'Carter One', cursive;
  line-height: 1.1;
  margin: 1em 0 .5em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  span {
    color: midnightblue;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
  }
  strong {
    font-size: 2rem;
  }
}

ul, p {
  margin: .5em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

abbr {
  outline: none;
  border: none;
  text-decoration: none;
  color: midnightblue;
}

code,pre {
  font-family: 'Fira Mono', monospace;
  font-size: 1.3rem;
}
pre {
  padding: .5rem 1rem;
  margin: .5em 0;
  background-color: midnightblue;
  color: white;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 1.4rem;
  code {
    color: inherit;
  }
}
code {
  color: midnightblue;
}

.download,
.group button {
  font-family: 'Carter One', cursive;
  padding: .2em 1em;
  font-size: inherit;
  color: white;
  appearance: none;
  border: .2rem solid midnightblue;
  background-color: midnightblue;
  transition: background-color .25s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  &.pagination--active,
  &.autoplay--active,
  &.align--active {
    background-color: cornflowerblue;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: mix(cornflowerblue, midnightblue, 50%);
  }
}

.bash--default:before {
  content: '$ ';
}

.skip-to {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-to:focus {
  position: fixed;
  z-index: 999;
  left: .7rem;
  top: .8rem;
  width: auto;
  height: auto;
  padding: 1.5rem 2rem;
  clip: auto;
  display: block;
  background-color: midnightblue;
  color: white;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-decoration: none;
  box-shadow: 0 5px 20px -5px rgba(#000, .2);
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.page__wrapper {
  padding: 2em  1em;
  max-width: 65rem;
  margin: 0 auto;

  .page__nav & {
    padding: 0 1em;
  }

  .page__footer & {
    padding: 1em;
  }
}

.page__title {
  text-align: center;
  font-size: 4rem;
  sup {
    color: cornflowerblue;
  }
}

.page__claim {
  margin-top: -2rem;
  color: #333;
  text-align: center;
}

.page__header {
  color: midnightblue;
}

.page__nav {
  color: midnightblue;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.page__footer {
  position: sticky;
  bottom: -1px;
  margin-top: auto;
  text-align: center;
  color: white;
  background-color: midnightblue;
  z-index: 10;
  p {
    font-size: .8em;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.menu__list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.menu__item {
  display: block;
}

.menu__item--logo {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .25s ease-in-out;
  margin-bottom: .25rem;
  margin-top: -.25rem;
  .page__nav--sticky & {
    max-width: 10rem;
    opacity: 1;
  }
}

.menu__link {
  display: block;
  padding: .75em;
  color: inherit;
  &:focus,
  &:hover {
    text-decoration: none;
  }
  .menu__item--logo & {
    color: midnightblue;
    font-family: 'Carter One', cursive;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    transition: color .25s ease-in-out;
    sup {
      color: cornflowerblue;
      transition: inherit;
    }
    &:hover {
      color: cornflowerblue;
      sup {
        color: midnightblue;
      }
    }
  }
}

.block__title {
  color: midnightblue;
}

.block {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  ul,
  p {
    color: #333;
  }

  ul {
    padding-left: 1.5em;
    list-style: none;
    li {
      position: relative;
      &:before {
        content: '—';
        color: midnightblue;
        position: absolute;
        top: 0;
        right: calc(100% + .5rem);
      }
    }
  }
  &:nth-child(odd) {
    background-color: #eee;
  }
  &:before {
    content: '';
    position: absolute;
    top: -4.6rem;
    left: 0;
    width: 100%;
    height: 4.6rem;
    pointer-events: none;
  }
}

.event,
.setting {
  margin: 0 (-.5em);
  width: calc(100% + 1em);
  padding: 1em .5em;
  transition: opacity .25s ease-in-out;
  &:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.event--internal {
  opacity: .25;
  cursor: pointer;
  &:hover {
    opacity: .75;
  }
}

.slider {
  width: calc(100% + 1rem);
  margin: 1em (-.5rem);
  + .slider {
    margin-top: -1em;
  }
}

.slider--paginate,
.slider--big {
  margin-bottom: calc(30px + 1em);
}

.slider__slide {
  width: 50%;
  height: 42.188vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5rem solid white;
  color: white;
  font-family: 'Carter One', cursive;
  font-size: 4rem;
  background-color: cornflowerblue;
  @media (min-width: 480px) {
    width: 33.333%;
    height: 28.125vw;
  }
  @media (min-width: 650px) {
    height: 18.2rem;
  }
  .slider--big & {
    width: 100%;
    height: 56.25vw;
    @media (min-width: 650px) {
      height: 36.6rem;
    }
  }
  .slider--small & {
    width: 33.333%;
    height: 18.75vw;
    font-size: 2rem;
    @media (min-width: 480px) {
      width: 20%;
      height: 15vw;
    }
    @media (min-width: 650px) {
      height: 9.8rem;
    }
  }
}